div.loader {
  position: fixed;
  left: 50%;
  top: 15%;
  z-index: 1;
  border: 1em solid #f3f3f3;
  border-top: 1em solid #db34a9;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -15%); 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}